body {
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header h1 {
    color: #333;
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 5px 0;
}

header #whoami {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #6e5494;
}

a:hover {
    color: #8e6dbf;
}

a:active {
    color: #4e3d64;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bezier-canvas {
    border: 1px solid #333;
    margin-top: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#time-slider {
    width: 40%;
    margin: 10px;
}

#time-label {
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}

button:active {
    background-color: #ccc;
    border: 1px solid #ccc;
    transform: translateY(2px);
}

#bezier-canvas, #time-slider {
    background-color: #f5f5f5;
}
