body {
  background-color: #a0aecd;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header p {
  font-size: 16px;
}

.brand {
  position: relative;
  margin: 20px 0 0 54px;
  font-size: 26px;
  font-weight: bold;
}

.brand::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #5a448c;
  margin-right: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar p {
  margin: 30px 15px 0 0;
  font-weight: 10;
}

header a {
  text-decoration: none;
  color: #000;
  transition: .3s color ease;
}

.navbar a:hover {
  color: #3f3f3f;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

img {
  border-radius: 50%;
  height: 350px;
  width: auto;
  margin-right: 45px;
}

section h1 {
  font-size: 85px;
  margin: 0;
}

section h2 {
  font-size: 20px;
  margin: 0;
}

section p {
  width: 350px
}

section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s transform, box-shadow .3s ease;
}

button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 0 #000;
}

button:active {
  transform: translate(1px, 1px);
  box-shadow: 0 0 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 732px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
  }

  img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
