body {
    background-color: #1a1a1a;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 5px 0;
}

section {
    padding: 40px;
    background-color: #333333;
    border-radius: 10px;
    margin: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #4c4c4c;
    color: #ffffff;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1f618d;
    transform: translate(2px, 2px);
}