body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

#projects,
#about,
#bots {
    text-align: center;
    padding: 30px;
}

.proj,
#about h2,
#about p,
#bots h2,
#bots p {
    padding-inline: 75px;
}

.project-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    height: 300px;
    overflow: hidden;
    background-color: #444;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card h3,
.project-card p {
    color: #fff;
    padding: 5px;
    text-align: center;
}

a,
a:visited,
a:hover,
a:active,
.discord {
    color: #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.project-card:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .project-card {
        width: 100%;
        height: auto;
        display: table;
    }

    .proj,
    #about h2,
    #about p,
    #bots h2,
    #bots p {
        padding-inline: 5px;
    }
}
