body {
  background-color: #a0aecd;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header p {
  font-size: 16px;
}

.brand {
  position: relative;
  margin: 20px 0 0 54px;
  font-size: 26px;
  font-weight: bold;
}

.brand::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #5a448c;
  margin-right: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar p {
  margin: 30px 15px 0 0;
  font-weight: 10;
}

header a {
  text-decoration: none;
  color: #000;
  transition: .3s color ease;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  color: #3f3f3f;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 150px;
}

.project {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s transform, box-shadow .3s ease;
}

.project:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 0 #000;
}

.project:active {
  transform: translate(1px, 1px);
  box-shadow: 0 0 0 0 #000;
}

.project h1 {
  font-size: 25px;
  margin-inline: 20px;
}

.project h2 {
  font-size: 16px;
  margin-inline: 20px;
  margin-bottom: 0;
}

.project p {
  margin-inline: 20px;
  margin-top: 10px;
}
