body {
  background-color: #a0aecd;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header p {
  font-size: 16px;
}

.brand {
  position: relative;
  margin: 20px 0 0 54px;
  font-size: 26px;
  font-weight: bold;
}

.brand::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #5a448c;
  margin-right: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar p {
  margin: 30px 15px 0 0;
  font-weight: 10;
}

header a {
  text-decoration: none;
  color: #000;
  transition: .3s color ease;
}

a {
  text-decoration: none;
  color: #3353f3;
}

.navbar a:hover {
  color: #3f3f3f;
}

footer {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
